allow vold proc_touchpanel:dir r_dir_perms;
allow vold storage_stub_file:dir read;
allow vold storage_stub_file:dir open;
allow vold storage_stub_file:dir search;
allow vold storage_stub_file:dir write;
allow vold storage_stub_file:dir add_name;
